* {
	box-sizing: border-box;
}

html {
    padding-top:50px;
}



body {
    border: 8px solid rgb(41, 82, 41);
    border-radius: 20px;
    padding: 40px;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background-color: black;
}

#clock {
    height:120px;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  color: white;
}

h2 {
	text-align:center;
  

}

#alarm-container {
	text-align:center;
    font-family: Verdana;
    font-size: 0.6em;
    padding: 0.7em;
  color: rgb(175, 175, 175);
}

label {
	display:inline-block;
}

.timeofday {
    background-color: rgb(158, 158, 158);
}

.bigger {
    font-weight:bold;
    font-size: 18px;
}

#sounds {
    text-align: center;
    padding-top: 20px;
}

#setButton {
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(96, 158, 96);
    margin-top:10px;
}
#clearButton {
    float:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(146, 34, 34);
    margin-top:10px;
}



